<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cs/style2.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topbar">
    <h1>Add a New User</h1>
    <a href="/users">Home</a>
    </div>
    <form action="/users/new/create" method = "POST">
        <label>First Name: </label>
        <br>
        <input type="text" name = "fname">
        <br>
        <label>Last Name: </label>
        <br>
        <input type="text" name = "lname">
        <br>
        <label>Email: </label>
        <br>
        <input type="email" name = "email">
        <br>
        <br>
        <input class="btn" type="submit" value= "Create User">
        

    </form>
</body>
</html>